<mat-toolbar color="primary">
    <span>Git Migration</span>
</mat-toolbar>
<div class="cardList">
    <mat-card>
        <p>
            This is an in-browser GIT client powered by
            <a href="https://github.com/isomorphic-git/isomorphic-git"
                >isomorphic-git</a
            >
            to clone, copy or migrate git repositories form one hoster to
            another.
        </p>
        <p>
            All cloned data is stored locally in your browser with help of an
            IndexedDB. This part is powered by the project
            <a href="https://github.com/isomorphic-git/lightning-fs"
                >lightning-fs</a
            >
            also engenieered by isomorphic-git.
        </p>

        <p>
            <b>Important:</b> Because this is a just browser powered solution we
            have CORS issues.<br />
            To handle this issues there is an other isomorphic-git project
            called
            <a href="https://github.com/isomorphic-git/cors-proxy">cors-proxy</a
            >. They serve a free and open instance - please just use it in a
            fair way.
        </p>
    </mat-card>
</div>
<div class="cardList">
    <mat-card>
        <mat-card-title>
            Source Repository
        </mat-card-title>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label
                    >Url:
                    <small
                        >https://server/owner/repository.git</small
                    ></mat-label
                >
                <input
                    matInput
                    name="sourceUrl"
                    [(ngModel)]="repos.source.url"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input
                    matInput
                    name="username"
                    [(ngModel)]="repos.source.username"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    name="password"
                    [(ngModel)]="repos.source.password"
                    input="password"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Remote</mat-label>
                <input
                    matInput
                    name="remote"
                    [(ngModel)]="repos.source.remote"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Ref</mat-label>
                <input
                    matInput
                    name="ref"
                    [(ngModel)]="repos.source.ref"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Remote Ref</mat-label>
                <input
                    matInput
                    name="remoteRef"
                    [(ngModel)]="repos.source.remoteRef"
                    input="text"
                    disabled
                />
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="clone(repos)" mat-raised-button color="primary">
                Clone
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Target Repository
        </mat-card-title>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label
                    >Url:
                    <small
                        >https://server/owner/repository.git</small
                    ></mat-label
                >
                <input
                    matInput
                    name="targetUrl"
                    [(ngModel)]="repos.target.url"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Username</mat-label>
                <input
                    matInput
                    name="username"
                    [(ngModel)]="repos.target.username"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    name="password"
                    [(ngModel)]="repos.target.password"
                    input="password"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Remote</mat-label>
                <input
                    matInput
                    name="remote"
                    [(ngModel)]="repos.target.remote"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Ref</mat-label>
                <input
                    matInput
                    name="ref"
                    [(ngModel)]="repos.target.ref"
                    input="text"
                />
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Remote Ref</mat-label>
                <input
                    matInput
                    name="remoteRef"
                    [(ngModel)]="repos.target.remoteRef"
                    input="text"
                />
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button
                (click)="addRemote(repos)"
                mat-raised-button
                color="primary"
                [disabled]="data.remotes.length < 1"
            >
                Update Remote
            </button>
            <button
                (click)="pushRemote(repos)"
                mat-raised-button
                color="primary"
                [disabled]="data.remotes.length < 1"
            >
                Push
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="cardList" *ngIf="data.files.data">
    <ng-container *ngIf="data.files.data.length > 0; else waitingSpinner">
        <mat-card>
            <mat-card-title>
                Cloned File Tree
            </mat-card-title>
            <app-tree
                [dataSource]="data.files"
                [treeControl]="treeControl"
            ></app-tree>
        </mat-card>
        <mat-card>
            <mat-card-title>
                Cloned Repo Metadata
            </mat-card-title>
            <mat-card-content>
                <div>
                    <b>Tags</b>:<br />
                    <mat-chip-list>
                        <mat-chip *ngFor="let t of data.tags">{{ t }}</mat-chip>
                    </mat-chip-list>
                </div>
                <br />
                <div>
                    <b>Branches</b>:<br />
                    <mat-chip-list>
                        <mat-chip *ngFor="let b of data.branches">{{
                            b
                        }}</mat-chip>
                    </mat-chip-list>
                </div>
                <br />
                <div>
                    <b>Remotes</b>:<br />
                    <p *ngFor="let r of data.remotes">
                        {{ r.remote }}: <a [href]="r.url">{{ r.url }}</a>
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>

<ng-template #waitingSpinner>
    <mat-card class="text-center">
        <mat-spinner class="spinner-center"></mat-spinner>
        <small>loading...</small>
    </mat-card>
</ng-template>
